
/*DARK STYLE: Themed dark-mode.*/

html {
    background-color: #111;
}

header {
    background-color: darkslateblue;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

/* nav menu styling*/

aside {
    float: right;
    color: #111;
}

ul {    
    background-color: #111;
    align-items: right;
}
li {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*button styling*/

.btn {
    background-color: darkslateblue;
    color: aliceblue;
}

.homeBtn {
    background-color: darkslateblue;
    color: aliceblue;
    font-weight: bold;
}

.themeBtn {
    background-color: #eee;
    color: #111;
}

/*end button styling*/

/*end nav styling*/

/*page styling*/

.main {
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    box-shadow: 5px 10px#afc;
}

footer {
    background-color: yellowgreen;
    box-shadow: 4px 8px greenyellow;
    color: ghostwhite;
}

h2 {
    color: lightslategray;
}

.video {
    box-shadow: 8px 16px #8c9;
}